# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
env/
ENV/
*.env
*.venv

# Django
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Node (if used)
node_modules/

# Compiled Static
*.map

# Backup files
*~
*.swp

# dotenv
.env
